:root {
    --primary: #e1e1e1;
    --secondary: #272727;
    --tertiary: orangered;
}

* {box-sizing: border-box;}

body {
    margin: 0;
    padding: 0;
    background: #e1e1e1;
}

.header {
    background-color: var(--secondary);
}

h1 {
    color: var(--primary)
}

h2 {
    color: var(--secondary);
}

.section {
    margin-bottom: 20px;
    margin-top: 20px;
}

.show-form {
    padding: 15px;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 95%;
    border: 2px solid var(--tertiary);
}

input[type=text] {
    margin: 3px;
    color: var(--secondary);
}

.submit-button {
    margin-top: 50px;
    padding: 10px 10px;
    height: 35px;
    line-height: 1;
    background-color: var(--secondary);
    color: var(--primary);
}

.submit-button:hover {
    background-color: var(--tertiary);
    color: var(--secondary);
}

.show-card {
    padding: 15px;
    margin: 10px 15px;
    width: 90%;
    border: 2px solid var(--tertiary);
    background-color: #f9f9f9;
    color: var(--secondary);
}